<!DOCTYPE html>
<html lang="en" xlmns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link href = "/css/tables.css" rel = "stylesheet"/>
	<title> Create Event </title>
</head>
<body>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"> 
		$(document).ready(function(){
		    $("#type_selection").on('change', function() {
		      if ( this.value === "0")
		      {
		        $("#league_details_div").show();
		        $("#tournament_details_div").hide();
		      }
		      else if ( this.value === "1")
		      {
				$("#tournament_details_div").show();
		        $("#league_details_div").hide();
		      }
		    });
		   });
	</script>
	
	<div th:replace="header :: myheader"></div>
	<div th:replace="navbar :: mynavbar"></div>
	
	<h1>Form</h1>
	
	<form action="#" th:action="@{/createEvent}"
	th:object="${event}" method="post">
	
	<p>Name: <input type="text" th:field="*{name}" required/></p>
	
	<p>Sport: </p>
	<select name="sport" th:field="*{sport}" required> 
	  <option th:value="0">Tennis</option>
	  <option th:value="1">Baseball</option>
	  <option th:value="2">Basketball</option>
	  <option th:value="3">Football</option>
	  <option th:value="4">Hockey</option>
	  <option th:value="5">Soccer</option>
	  <option th:value="6">Other</option>
	</select>
	
	<p>Maximum age: <input type="number" th:field="*{max_age}" min="0" max="150" required/></p>
	
	<p>Maximum teams: <input type="number" th:field="*{max_teams}" min="2" max="32" required/></p>
	
	<p>Start date: <input type="date" th:field="*{start_date}" required/></p>
	
	<p>End date: <input type="date" th:field="*{end_date}" required/></p>
	
	<p>Earliest game time: <input type="time" th:field="*{earliest_time}" required/></p>
	
	<p>Latest game time: <input type="time" th:field="*{latest_time}" required/></p>
	
	<p>Event type: </p>
	<select id="type_selection" name="type" th:field="*{event_type}" required>
		<option value="0" th:value="0">League</option>
		<option value="1" th:value="1">Tournament</option>
	</select>
	
	<div id="league_details_div" style="display:none;">
		<p>Number of games in season: <input type="number" min="0" max="162"
		th:field="*{num_games}" required/></p>
		<p>Tournament at end based on results: </p>
		<select name="endTourney" th:field="*{tournament_at_end}" required>
			<option th:value="true">Yes</option>
			<option th:value="false">No</option>
		</select>
	</div>
	
	<div id="tournament_details_div" style="display:none;">
		<select name="tournament_type" th:field="*{tournament_type}" required/>
			<option th:value="0">Single Elimination</option>
		</select>
	</div>
	
	<br>	
	<br>
	
	<p><input type="submit" value="Submit" /></p>
	</form>
	
	<div th:replace="footer :: myfooter"></div>
</body>
</html>