<!DOCTYPE html>
<html lang="en" xlmns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link href = "/css/tables.css" rel = "stylesheet"/>
	<title> Create Team </title>
</head>
<body>
	<div th:replace="header :: myheader"></div>
	<div th:replace="navbar :: mynavbar"></div>
	
	<h1>Form</h1>
	
	<form action="#" th:action="@{/createTeam}"
	th:object="${team}" method="post">
	
	<p>Name: <input type="text" th:field="*{name}" required/></p>
	
	<p>Sport: </p>
	<select name="sport" th:field="*{sport}" required>
	  <option th:value="0">Tennis</option>
	  <option th:value="1">Baseball</option>
	  <option th:value="2">Basketball</option>
	  <option th:value="3">Football</option>
	  <option th:value="4">Hockey</option>
	  <option th:value="5">Soccer</option>
	  <option th:value="6">Other</option>
	</select>
	
	<p>Minimum age: <input type="number" th:field="*{minAge}" min="0" max="50" required/></p>
	
	<p>Maximum age: <input type="number" th:field="*{maxAge}" min="0" max="150" required/></p>
	
	<br>	
	<br>
	
	<p><input type="submit" value="Submit" /></p>
	</form>
	
	<div th:replace="footer :: myfooter"></div>
</body>
</html>