<!DOCTYPE html>
<html lang="en" xlmns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link href = "/css/forms.css" rel = "stylesheet"/>
	<title> Edit Team </title>
</head>
<body>
	<div th:replace="header :: myheader"></div>
	<div th:replace="navbar :: mynavbar"></div>
	
	<h1>Edit Team</h1>
	
	<form action="#" th:action="@{/editTeam}"
	th:object="${team}" method="post">
	
	<input type="hidden" th:field="*{id}" th:value="${team.id}"/>
	
	<p>Name: <input type="text" th:value="${team.name}" 
	th:field="*{name}" required/></p>
	
	<p>Sport: </p>
	<select name="sport" th:value="${team.sport}" th:field="*{sport}" required>
	  <option th:value="0">Tennis</option>
	  <option th:value="1">Baseball</option>
	  <option th:value="2">Basketball</option>
	  <option th:value="3">Football</option>
	  <option th:value="4">Hockey</option>
	  <option th:value="5">Soccer</option>
	  <option th:value="6">Other</option>
	</select>
	
	<p>Minimum age: <input type="number" th:field="*{minAge}"
	th:value="${team.minAge}" min="0" max="50" required/></p> 
	
	<p>Maximum age: <input type="number" th:field="*{maxAge}"
	th:value="${team.maxAge}" min="0" max="150" required/></p>
	
	<br>	
	<br>
	
	<p><input type="submit" value="Submit" /></p>
	</form>
	
	<div th:replace="footer :: myfooter"></div>
</body>
</html>