<!DOCTYPE html>
<html lang="en" xlmns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link href = "/css/events.css" rel = "stylesheet"/>
	<title> Event Page </title>
</head>

<body>
	<script>
		function teamClicked(value) {
        	location.href = "/teams/" + value;
    	}
    	
    	function gameClicked(value) {
        	location.href = "/games/" + value;
    	}
    	
    	function signupClicked() {
			var manager = "[[${session.USER_ID}]]";
			var team = "[[${event.id}]]";
			
			location.href = "/addTeamToEvent/" + team + "/" + manager;
		}
		
		function generateScheduleClicked(value) {
			location.href = "/events/" + value + "/generateSchedule";
		}
		
		function editClicked(value) {
			location.href = "/editGame/" + value;
		}
		
		function createTournament(value) {
			location.href = "/createTournament/" + value;
		}
		
		function generateTournamentClicked(value) {
			location.href = "/events/" + value + "/generateTournament";
		}
	</script>
	
	<style>
		.signup-button {
			color: white;
			background-color: green;
			font-size: 32px;
			height: 100%;
			cursor:pointer;
			padding: 10px;
			margin: 10px;
		}
		
		.tourney {
			display: flex;
		}
		
		.tourney > div {
			margin: 10px;
			padding: 20px;
			justify-content: center;
		}
		
		.tourney > div > table {
			align-items:center;
			padding: 50px;
			margin: 50px;
			width: 100%;
			background-color:silver;
		}
		
		.tourney > div > table:hover {
			background-color:darkgrey;
			cursor:pointer;
		}
		
		
	</style>
	
	<div th:replace="header :: myheader"></div>
	<div th:replace="navbar :: mynavbar"></div>
	
	
	<span th:if="${event.commissioner} == ${session.USER_ID}">
		<h2 style="color:darkcyan;">You are the commissioner of this event.</h2>
	</span>
	
	<h1 th:text="${event.name}" />
	
	<span th:if="${numGames} == 0">
		<div class="signup-container">
				<button class="signup-button" style="position:relative; float:right;"
				th:onClick="'javascript:signupClicked();'"> 
				Sign-Up Team for Event</button>
		</div>
	</span>
	
		<span th:if="${teams.size} > 0">
			<span th:if="${event.type} == 0">
				<h2> Standings: </h2>
				<table>
					<tr>
						<th>Team Id</th>
						<th>Name</th>
						<th>Wins</th>
					</tr>
					<tr th:each="team:${teams}"
					 style="cursor: pointer; background-color:lightcoral;"
					 th:onClick="'javascript:teamClicked(\'' + ${team.id} + '\');'">
						<td th:text="${team.id}">Id</td>
						<td th:text="${team.name}">Name</td>
						<td th:text="${team.wins}">Wins</td>
					</tr>
				</table>
			</span>
			<span th:if="${event.type} == 1">
				<h2> Teams: </h2>
				<table>
					<tr>
						<th>Team Id</th>
						<th>Name</th>
						<th>Wins</th>
					</tr>
					<tr th:each="team:${teams}"
					 style="cursor: pointer; background-color:lightcoral;"
					 th:onClick="'javascript:teamClicked(\'' + ${team.id} + '\');'">
						<td th:text="${team.id}">Id</td>
						<td th:text="${team.name}">Name</td>
						<td th:text="${team.wins}">Wins</td>
					</tr>
				</table>
			</span>
		</span>	
		
		<span th:if="${event.type} == 0">
			<span th:if="${session.USER_ID} == ${event.commissioner}">
				<button class="signup-button" 
				th:onClick="'javascript:generateScheduleClicked(\'' + ${event.id} + '\');'">
				Create Schedule</button>
			</span>
			
		<span th:if="${numGames} > 0">	
		
		<h2> Games </h2>
			<table>
				<tr>
					<th>Id</th>
					<th>Game time</th>
					<th>Away team</th>
					<th>Home team</th>
					<th>Away score</th>
					<th>Home score</th>
				</tr>
				<tr th:each="game:${games}" 
						th:class="${game.eventId}"
						style="cursor:pointer; background-color:lightblue;"
						th:onClick="'javascript:gameClicked(\'' + ${game.id} + '\');'">
					<td th:text="${game.id}">Id</td>
					<td th:text="${game.gameTime}">Game time</td>
					<td th:text="${game.awayTeam}">Away team</td>
					<td th:text="${game.homeTeam}">Home team</td>
					<td th:text="${game.awayScore}">Away score</td>
					<td th:text="${game.homeScore}">Home score</td>
				</tr>
			</table>
		</span>
	</span>
	
	<span th:if="${event.type} == 1">
		<span th:if="${numGames} > 0">
			<span th:if="${champion.id} != 0">
				<h1 style="border: 2px solid black; background-color:palegoldenrod;"
				th:text="'👑 CHAMPION : ' + ${champion.name} + '👑'"/>
			</span>
		</span>
	</span>

	<span th:if="${event.type} == 1" class="tourney">
		<div th:each="round, iRound:${rounds}" border="1">
			<h2 th:text="'Round ' + ${iRound.index + 1}"/>
			<table th:each="game:${round}" border="0"
				th:style="${iRound.last}? 'background-color:palegoldenrod'"
				th:onClick="'javascript:gameClicked(\'' + ${game.id} + '\');'">
				<tr>
					<span th:if="${game.homeSeed} != 0">
						<td th:text="${game.homeSeed}"/>
						<td th:text="${(seeds.get(game.homeSeed)).getName()}">
						<td th:text="${game.homeScore}"/>
					</span>
				</tr>
				<tr>
					<span th:if="${game.awaySeed} != 0">
						<td th:text="${game.awaySeed}"/>
						<td th:text="${(seeds.get(game.awaySeed)).getName()}">
						<td th:text="${game.awayScore}"/>
					</span>
				</tr>
			</table>
		</div>
	</span>
	
	<span th:if="${event.type} == 0">
		<span th:if="${session.USER_ID} == ${event.commissioner}">
			<span th:if="${numGames} > 0">
				<span th:if="${unfinished} == 0">
					<button class="signup-button"
					th:onClick="'javascript:generateTournamentClicked(\'' + ${event.id} + '\');'">
					Create Season Tournament</button>
				</span>
			</span>
		</span>
	</span>
	
	
	
	<span th:if="${event.type} == 1">
		<span th:if="${numGames} == 0">
			<span th:if="${session.USER_ID} == ${event.commissioner}">
				<button class="signup-button" style="background-color:red;"
				th:onClick="'javascript:createTournament(\'' + ${event.id} + '\');'">
				Create Bracket</button>
			</span>
		</span>
	</span>		
  <div th:replace="footer :: myfooter"></div>
</body>
</html>