<!DOCTYPE html>
<html>
	<div th:fragment="myfooter">
	   <head>
	      <meta charset = "ISO-8859-1" />
	      <link href = "css/styles.css" rel = "stylesheet"/>
	      <title>Footer</title>
	   </head>
	   <style>
	   
	   h1 {
		   color:white;
		   background-color:black;
	   }
	   
	   li {
		   color:black;
		   font-size:32px;
	   }
	   
	   .wrapper {
		   background-color:dimgrey;
		   width:100vw;
	   }
	   
	   </style>
	   <body>
	   <br><br><br><br><br><br>
	   <h1>Website Created by Dallas Schauer</h1>
	   
	   <div class="wrapper">
	   	<br>
		   <ul style="list-style:none;">
		   	<li><a href="https://github.com/DallasSchauer">💻 Github 💻</a></li>
		   	<li><a href="https://medium.com/@schau364">⌨️ Medium ⌨️</a></li>
		   	<li>🗃 schau364@umn.edu 🗃</li>
		   </ul>
		  <br><br><br><br><br><br>
	   </div>
	   </body>
	</div>
</html>