<!DOCTYPE html>
<html lang="en" xlmns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link href = "/css/forms.css" rel = "stylesheet"/>
	<title> Teams </title>
</head>

<style>
	.button {
	  background-color: #4CAF50;
	  font-family:Georgia, 'Times New Roman', Times, serif;
	  border:aliceblue;
	  color: white;
	  padding: 5px 5px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 36px;
	  margin: 4px 2px;
	  cursor: pointer;
	}
	
	.button:hover{
		color:black;
	}
</style>
<body>
	<div th:replace="header :: myheader"></div>
	
	<h1>Log-In</h1>
	
	<form th:action="@{/login}"
	th:object="${player}" method="post">
	
	<p>Username: <input type="text" th:field="*{username}" required/></p>
	<p>Password: <input type="password" th:field="*{password}" required/></p>
	
	<p style="color:red;"th:text="${message}" />
	
	<p><input type="submit" value="Submit" /></p>
	</form>
	
	<h1>--OR--</h1>
	<br>
	
	<a class="button" style="position:relative; background-color:navy;"
		th:href="@{/createAccount}">Create an Account</a>
	
	<div th:replace="footer :: myfooter"></div>
</body>
</html>