<!DOCTYPE html>
<html>
<div th:fragment="mynavbar">
	<head>
	<style>
	.navbarwrapper ul {
	  list-style-type: none;
	  margin: 0;
	  padding: 0;
	  overflow: hidden;
	  background-color: #333;
	}
	
	.navbarwrapper li {
	  float: left;
	  background-color: #333;
	}
	
	.navbarwrapper li a {
	  display: block;
	  color: white;
	  font-family:Georgia, 'Times New Roman', Times, serif;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
	  background-color:#333;
	}
	
	.navbarwrapper li a:hover:not(.active) {
	  background-color: #111;
	}
	
	</style>
	</head>
	<body>
	<div class="navbarwrapper">
		<ul>
			<li><a href="#home">Home</a></li>
			<li><a href="#profile">Profile</a></li>
			<li><a href="#myteams">My Teams</a></li>
			<li><a href="/events">Browse Events</a></li>
		</ul>
	</div>
	
	</body>
</div>
</html>


