<!DOCTYPE html>
<html lang="en" xlmns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link href = "/css/events.css" rel = "stylesheet"/>
	<title> Teams </title>
</head>
<body>
	<script>
		function playerClicked(value) {
        	location.href = "/players/" + value;
    	}
    	
    	function signupClicked() {
			var player = "[[${session.USER_ID}]]";
			var team = "[[${team.id}]]";
			
			location.href = "/addPlayerToTeam/" + player + "/" + team;
		}
		
		function eventClicked(value) {
			location.href = "/events/" + value;
		}
		
		function editClicked(value) {
			location.href = "/editTeam/" + value;
		}
	</script>
	
	<style>
		.signup-button {
			color: white;
			background-color: green;
			font-size: 32px;
			height: 100%;
		}
		
		.signup-container {
			position: relative;
			left: 50%;
			transform: translateX(-50%);
		}
	</style>
	
	<div th:replace="header :: myheader"></div>
	<div th:replace="navbar :: mynavbar"></div>
	
	<div class="container">
		<div style="display:inline;" th:switch="${team.sport}">
			<img class="avatar" th:case="0" src="/css/images/tennisAvatar.PNG" alt="pfp">
			<img class="avatar" th:case="1" src="/css/images/baseballAvatar.PNG" alt="pfp">
			<img class="avatar" th:case="2" src="/css/images/basketballAvatar.PNG" alt="pfp">
			<img class="avatar" th:case="3" src="/css/images/footballAvatar.PNG" alt="pfp">
			<img class="avatar" th:case="4" src="/css/images/hockeyAvatar.PNG" alt="pfp">
			<img class="avatar" th:case="5" src="/css/images/soccerAvatar.PNG" alt="pfp">
			<img class="avatar" th:case="6" src="/css/images/otherAvatar.PNG" alt="pfp">
		</div>
		<h6 style="margin-right:auto; display:inline;
		 text-align:right;" th:text="${team.name}" />
	</div>
	<div class="signup-container">
			<button class="signup-button" style="position:relative; float:right;"
			th:onClick="'javascript:signupClicked();'"> 
			Sign-Up for Team</button>
	</div>
	
	<span th:if="${session.USER_ID} == ${manager.id}">
		<button style="border:3px solid black; margin:10px; font-size: 28px;"
		th:onClick="'javascript:editClicked(\'' + ${team.id} + '\');'">
		✏️ Edit ✏️</button>
	</a>
	</span>
	
	<!-- Manager !-->
	<h1> Manager </h1>
	
	<table>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Date of Birth</th>
		<tr>
		<tr style="cursor: pointer"
		th:onClick="'javascript:playerClicked(\'' + ${manager.id} + '\');'">
			<td th:text="${manager.id}">Id</td>
			<td th:text="${manager.name}">Name</td>
			<td th:text="${manager.dob}">Dob</td>
		</tr>
	</table>
	
	<!-- Players !-->
	<h1> Players </h1>
	
	<table>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Date of Birth</th>
		<tr>
		<tr th:each="player:${players}" style="cursor:pointer"
		th:onClick="'javascript:playerClicked(\'' + ${player.id} + '\');'">
			<td th:text="${player.id}">Id</td>
			<td th:text="${player.name}">Name</td>
			<td th:text="${player.dob}">Dob</td>
		</tr>
	</table>	
	
	<!-- Events Participated In !-->
	<h1> Events Participated In </h1>
	
	<table>
		<tr>
			<th>Id</th>
			<th>Sport</th>
			<th>Name</th>
			<th>Max Age</th>
			<th>Event Type</th>
		</tr>
		<tr th:each="event:${events}" style="cursor:pointer"
		th:onClick="'javascript:eventClicked(\'' + ${event.id} + '\');'">
			<td th:text="${event.id}" />
			<td th:switch="${team.sport}">
				<span th:case="0"><p>🎾</p></span>
				<span th:case="1"><p>⚾</p></span>
				<span th:case="2"><p>🏀</p></span>
				<span th:case="3"><p>🏈</p></span>
				<span th:case="4"><p>🏒</p></span>
				<span th:case="5"><p>⚽</p></span>
				<span th:case="6"><p>Other<p></span>
			</td>
			<td th:text="${event.name}" />
			<td th:text="${event.maxAge}" />
			<td th:switch="${event.type}">
				<span th:case="0" th:text="League" />
				<span th:case="1" th:text="Tournament" />	
			</td>
	</table>
	
	<div th:replace="footer :: myfooter"></div>
</body>
</html>